body {
    margin:0;
    padding:0;
}


footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    
    margin-bottom: 0;
    padding-bottom: 0;
  }
header {
    width:100%;
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
    text-align: center;
    border-bottom: solid;
    border-color: black;
    border-width: 1px;
    

    background-color:white;
    font-family: Helvetica, Arial, sans-serif;
    
    
}
header a{
    text-decoration: none;
    color: black;
}
label{
    font-family: Helvetica, Arial, sans-serif;
}
.pres {
    text-align: center;
    border-color: red;
    color:darkslategrey;
}
a{
    text-decoration: none;    
}

#fleche {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 20px;
  }

.infoProduit{
    font-family: Helvetica, Arial, sans-serif;
}


.group {

    width: 350px;
    height:auto;
    
    
}
ul.GroupContainer>li{
    margin-bottom : 50px;
}
.prix{
    font-size: absolute;
    font-size: 15px;
    color: rgb(88, 88, 88);
    
}
.nomProduit{
    font-weight:600;
    color: black;
    font-size: 15px;
}
    
.GroupContainer{
    position: absolute;
    border :1px solid;
    padding-top: 50px;
    border-radius: 15px;
    background-color:rgb(228, 228, 228);
    
    display : inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:space-around ;  
}

.gridContainer{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 50px auto 300px;

    
}
.RechercheGauche{
    border : 1px;
    border-right-style: solid;
    
    padding-top: 50px;
    position:sticky;
    top:80px;
    
    padding-left:50px ;
    grid-column: 1/span 1;
    grid-row: 2/ span 1;
    
}
.ChoixArticle>h1{
    display: flex;
    justify-content: center;
}
.ChoixArticle{
    grid-column-start: 2;
    grid-row: 2/ span 1;    
}


.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.panierGridContainer{
    display: grid;
    grid-template-columns: 25% 50% 10% 15%;

}

.headerGridContainer{
    display: grid;
    grid-template-columns: 25% 5% 40% 30%;
    grid-template-rows: 70px;
}
.HeaderLogoGrid{
    grid-row: 1/span 1;
    grid-column: 1 /span 1;
    text-align: left;
    height: 70px;
    width :auto ;
    
}
.HeaderSectionGrid{
    grid-column: 3/ span 1;
    grid-row: 1/span 1;
    font-size: 20px;
}
.headerElement{
    display: flex;

    
    padding: 6px ;
    
}
.headerElement:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.imagePres{
    height: 150px;
    width: 150px;
}

.perso{
    display:none;
}

#groupe{
    float:right;
}
/* .panier{
    text-decoration: none;
    border-radius: 50px;
    background-color: rgb(238, 238, 238);
    font-size: 15px;
    border:solid;
    border-color: black;
    padding: 20px;
    border-width: 2px;
} */

#annulation{
    height: 50px;
    width: 50px;
    border: none;
    cursor:pointer;
}

.container {
    
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    
  }
  
  
  .container input {
    height: 0;
    width: 0;
  }
  
  
  .checkmark {
    background-color: black;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  
 
  .container input:checked ~ .checkmark {
    background-color: black;
    border: 1px solid;
    border-color: black;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  h1{
    font-family: Helvetica, Arial, sans-serif;
  }
  .musicien{
    width:200px;
    height: auto;
    margin :5px;
    cursor:pointer;
}

.buttonModifier{
    background-color:#ffffff;
	border-radius:34px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}

.buttonModifier:hover {
	background-color:#59ff00;
}
.buttonModifier:active {
	position:relative;
	top:1px;
}

.lorem{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    margin:20px;
}

#titre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-align:center;
}

.TexteAccueil{
    text-align:center;
}